.item_1{
    background-color: rgb(30, 0, 255);
 
 }
 .item_2{
     background-color: rgb(255, 17, 0);
  }
  .item_3{
     background-color: rgb(0, 247, 255);
  }
  .item_4{
     background-color: rgba(0, 255, 42, 0.699);
  }
 
  .item_5{
     background-color: rgb(255, 0, 200);
  }
  .item_6{
     background-color: rgb(255, 196, 0);
  }