hr{
    width: medium;
    border-style: dotted;
    background-color: rgb(161, 28, 24);
}
h{
   color:rgb(121, 146, 10); 
   font-size: 25px;
}
h1{
    font-size: 20px;
    color: rgb(20, 98, 161);

}
div{
    column-count: 3;
    column-width: auto;
    column-rule-style: black;
    column-width: 250px;
    column-gap: 30px;
    column-rule: 2px solid black;
}
h2{
    color:rgb(1, 207, 80); 
    font-size: 20px;
}
.zagolovok{
    column-count: 2;
    column-width: auto;
    column-rule-style: black;
    column-width: 250px;
    column-gap: 30px;
    column-rule: 2px solid black;
}
